{% render 'partials/head.liquid' %}

<article> 
<img src= "./avatar.jpg" alt="selfie!" class="card-img" width="150px" height="190px">
<H1> {{ person.name }} </H1>
</article>

<article> 
<img src= "./avatar.jpg" alt="selfie!" class="card-img" width="150px" height="190px">
<H1> {{ person.github_handle }} </H1>
</article>

<article> 
<img src= "./avatar.jpg" alt="selfie!" class="card-img" width="150px" height="190px">
<H1> {{ person.birthdate }} </H1>
</article>

<article> 
<img src= "./avatar.jpg" alt="selfie!" class="card-img" width="150px" height="190px">
<H1> {{ person.profilecard }} </H1>
</article>

{% render 'partials/foot.liquid' %}
