{% render 'partials/head.liquid' %}

<article> 
<img src= "./avatar.jpg" alt="selfie!" class="card-img" width="150px" height="190px">
<H1> {{ person.name }} </H1>
</article>

{% render 'partials/foot.liquid' %}
