{% render 'partials/head.liquid' %}

<div class="card">
 <img src="./RLRR0185.png" alt="" width="40" height="40" >
  <img src="Painting by Tetsuhiro Wakabayashi.jpg" alt="Profiel foto" width="140" height="140" >
  <h1>{{ person.name }}</h1>
  <p><em>Student front-end design & development</em></p>
  
</div>
{% render 'partials/foot.liquid' %}
