

body {
  display: flex;
  flex-direction: column;
  padding: 1em;
box-sizing: border-box;
}

article {
  background-color: rgb(255, 253, 249);
  background-image: url(./card1.png);
  background-repeat: no-repeat;
  background-size: 21em;
  background-position: center;
  height: 20em;
  width: 15em;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  margin-top: 3em;
  text-align: center;
  padding: .15em;
  padding-top: 3em;
  border-radius: 3em;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);

  H1 {
      color: black;
      margin-top: .01em;
    }

    img {
      border-radius: 5em;
      scale: 0.9;
    }
}