body {
  display: flex;
  flex-direction: column;
  padding: 1em;
  box-sizing: border-box;
  overflow: hidden;
  background-image: url(./bg-img.jpg);
  background-size: cover;
}

article {
  background-color: rgb(255, 253, 249);
  background-image: url(./card1.png);
  background-repeat: no-repeat;
  background-size: 19em;
  background-position: center;
  position: absolute;
  height: 19em;
  width: 13em;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  margin-top: 3em;
  text-align: center;
  padding: .15em;
  padding-top: 2em;
  border-radius: 3em;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  animation: spread-cards 0.8s ease-out forwards;

  H1 {
    color: black;
    margin-top: .01em;
    font-size: 17pt;
  }

  img {
    border-radius: 5em;
    scale: 0.9;
    width: 130px;
    height: 170px;
  }

  &#handle-card {
    translate: -1em 1em;
    rotate: -30deg;
    z-index: 10;
    animation: handlecardani .7s forwards ease-in-out;
  }

  &#art-card {
    translate: -2em -2em;
    rotate: -12deg;
    z-index: 13;
    animation: artcardani .7s forwards ease-in-out;
  }

  &#color-card {
    translate: 1.1em;
    rotate: 29deg;
    z-index: 15;
    animation: colorcardani .7s forwards ease-in-out;
  }

  &#birthdate-card {
    translate: -.5em;
    rotate: -7deg;
    z-index: 20;
    animation: birthdatecardani .7s forwards ease-in-out;
  }

  &#movie-card {
    translate: 2em 1.4em;
    rotate: 22deg;
    z-index: 35;
    animation: moviecardani .7s forwards ease-in-out;
  }

  &#hobby-card {
    translate: 1.2em;
    rotate: 8deg;
    z-index: 30;
    animation: hobbycardani .7s forwards ease-in-out;
  }

  &#name-card {
    z-index: 40;
  }
}

@keyframes handlecardani {

  0% {
    translate: -1em 1em;
    rotate: -30deg;
  }

  100% {
    translate: -30em -3em;
    rotate: -18deg;
  }

}

@keyframes artcardani {

  0% {
    translate: -2em -2em;
    rotate: -12deg;
  }

  100% {
    translate: -22em 7em;
    rotate: 24deg;
  }

}

@keyframes colorcardani {

  0% {
    translate: 1.1em;
    rotate: 29deg;
  }

  100% {
    translate: 30em -3em;
    rotate: -29deg;
  }

}

@keyframes birthdatecardani {

  0% {
    translate: -.5em;
    rotate: -7deg;
  }

  100% {
    translate: -12em -4em;
    rotate: -7deg;
  }

}

@keyframes moviecardani {

  0% {
    translate: 2em 1.4em;
    rotate: 22deg;
  }

  100% {
    translate: 13em -3em;
    rotate: 22deg;
  }

}

@keyframes hobbycardani {

  0% {
    translate: 1.2em;
    rotate: 8deg;
  }

  100% {
    translate: 19em 5em;
    rotate: 8deg;
  }

}