

body {
  display: flex;
  flex-direction: column;
  padding: 1em;
box-sizing: border-box;
}

article {
  background-color: blue;
  height: 24em;
  width: 15em;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  text-align: center;
  padding: .15em;
  border-radius: 3em;

  H1 {
      color: black;
    }

    img {
      border-radius: 5em;
    }
}